html {
  font-size: 14px;
}
::selection {
    color: black;
    background: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@font-face {
    font-family: "Helvetika";
    src: url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#header-nav {
     width : 100%;
     font-weight : bold;
}
/*
*/

.view-item {
    background-image: url(https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.maintext {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-wrap : unset;
}
.mainbutton {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight : 500;
    border-radius : 0;
    word-wrap: unset;
    background-color : white;
}
.mainbutton:hover{
    transition : 0.7s;
    color : white;
    background-color : black;
}
a{
    text-decoration : none;
    color : black;
}
/*
    Logger styles
*/
.log-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.log-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.log-body {
    font-family: 'poppins',sans-serif;
    background-image: url("https://images.pexels.com/photos/7130490/pexels-photo-7130490.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
::-webkit-input-placeholder {
    color: black;
}
.log-span {
    color: black;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.7);
    cursor: pointer;
    transition: .3s;
}

    .submit:hover {
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
        background : rgba(0,0,0,0.5)
    }

.two-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: small;
    margin-top: 10px;
}

.one {
    display: flex;
}
.input-field .input {
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(0,0,0,0.1);
    outline: none;
}

.log-header{
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
/*
    end logger styles
*/