<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppStore.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a876bc21a1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="fixed-top">
        <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <i class="fab fa-slack"></i>
                    AppStore
                </a>

                <div class="float-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-dark navbar-toggler border-0 " type="button" asp-area="" asp-controller="Account" asp-action="Logger">
                            <i class="fa fa-solid fa-user">
                            </i>
                        </a>
                    }
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <a class="btn btn-dark navbar-toggler border-0 " type="button" asp-area="" asp-controller="Account" asp-action="Logger">
                            <i class="fa fa-solid fa-user"></i>
                        </a>
                    }
                    <button class="btn btn-dark navbar-toggler border-0" type="button">
                        <i class="fa fa-shopping-cart">
                        </i>
                    </button>
                    <button class="btn navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Collections
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Winter</a></li>
                                <li><a class="dropdown-item" href="#">Summer</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">All Seasons</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administration
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Administration" asp-action="Users">Users</a></li>
                                    <li><a class="dropdown-item" asp-controller="Administration" asp-action="Products">Products</a></li>
                                    <li><a class="dropdown-item" asp-controller="Administration" asp-action="CreateProduct">Create product</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn border-0 btn-dark position-relative d-none d-lg-block" type="button" asp-area="" asp-controller="Account" asp-action="Logout">
                            Log Out
                        </a>
                        <a class="btn border-0 btn-dark position-relative d-none d-lg-block" type="button" asp-area="" asp-controller="Account" asp-action="Logger">
                            @User.Identity.Name
                            <i class="fa fa-solid fa-user p-1"></i>

                        </a>
                    }
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <a class="btn border-0 btn-dark position-relative d-none d-lg-block" type="button" asp-area="" asp-controller="Account" asp-action="Logger">
                            Log in
                            <i class="fa fa-solid fa-user p-1"></i>

                        </a>
                    }
                    <button type="button" class="btn btn-dark position-relative mx-lg-1 d-none d-lg-block">
                        Cart
                        <i class="fa fa-shopping-cart p-1">
                        </i>

                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">Products in cart</span>
                        </span>
                    </button>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="mt-5 pb-3">

            @RenderBody()

        </main>
    </div>


    <footer class="text-center footer text-lg-start text-white">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4"
                 style="background-color: #6351ce">
            <!-- Left -->
            <div class="me-5">
                <span>Connect with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="bg-dark pt-5">
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">AppStore</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />    
                        
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-white">ProductName</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">ProductName</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">ProductName</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">ProductName</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-white">Your Account</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Become an Affiliate</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Shipping Rates</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.7)">
            © 2023
            <a class="text-white" asp-controller="Home" asp-action="Privacy">AppStore | Privacy Policy</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
