@{
    ViewData["Title"] = "Home Page";
}

<div id="carousel-ex" class="carousel slide carousel-fade pt-4">
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousel-ex"></li>
    </ol>
</div>