@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center my-5">
            <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid mx-auto justify-content-center" alt="Responsive image" height="100">
            <h1 class="align-content-center position-absolute bg-white maintext maintext-size p-2">
                This is AppStore
            </h1>
            <h5 class="align-content-center position-absolute bg-white maintext p-1 my-5">
                220+ Brands available
            </h5>
            <button class="btn align-content-center position-absolute bg-white mainbutton p-1 my-5" type="button">See all products</button>
        </div>
    </div>

</div>