@model AppStore.Models.ViewModels.GetProductsViewModel

@{
    ViewData["Title"] = "GetProduct";
}

<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Url.Content(Model.Photo)"
                 class="img-fluid rounded-start rounded" alt="@Model?.Productname">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Productname</h5>
                <p class="card-text"><b>Description: </b>@Model?.Description</p>
                <p class="card-text"><b>Price: </b>@Model?.Price $</p>
      
                <form asp-action="AddToCart" asp-controller="AddToCart" asp-route-id="@Model?.Id" method="post">
                    <button class="btn btn-lg btn-success" type="submit">
                      <!--  <a href="Url.Action("AddToCart", "Cart", new { productId = Model.Id, userId = Model.User.UserId })">Add to cart</a>-->
                    </button>
                </form>
                <form asp-action="Cart" asp-controller="Cart" asp-route-id="" method="get">
                    <button class="btn btn-lg btn-info" type="submit">
                        Go to cart
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
 